n8n/dfnet-notificacoes.json
{
  "name": "DFNET - Notificações Push (aviso + boleto + bloqueio)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Enviar Aviso — DFNET App",
        "formDescription": "Escreva o aviso que será enviado como notificação para TODOS os clientes com o app instalado.",
        "formFields": { "values": [
          { "fieldLabel": "titulo", "placeholder": "Ex.: Manutenção programada", "requiredField": true },
          { "fieldLabel": "mensagem", "fieldType": "textarea", "placeholder": "Ex.: Hoje das 23h às 1h teremos manutenção na rede.", "requiredField": true }
        ] }, "options": {}
      },
      "id": "e5e73179-cf41-44ca-9c57-c0c681893f6e", "name": "Formulário Aviso",
      "type": "n8n-nodes-base.formTrigger", "typeVersion": 2.2, "position": [-96, -320], "webhookId": "a7db092b-1126-4eb7-bb2c-f4901dea9904"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": { "__rl": true, "value": "TROCAR_ID_PLANILHA_DFNET", "mode": "id" },
        "sheetName": { "__rl": true, "value": "tokens", "mode": "name" }, "options": {}
      },
      "id": "e7a34251-c2cb-4ac0-8253-14b1e9b26f21", "name": "Lê Tokens",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [112, -320],
      "credentials": { "googleApi": { "id": "TROCAR_CRED_GOOGLE_DFNET", "name": "PLANILHA GOOGLE DFNET" } }
    },
    {
      "parameters": { "jsCode": "\n// remove tokens vazios e duplicados\nconst seen=new Set(); const out=[];\nfor(const it of items){\n  const t=String(it.json.token||'').trim();\n  if(t && !seen.has(t)){ seen.add(t); out.push({json:{token:t}}); }\n}\nif(!out.length) return [{json:{aviso:'nenhum token na planilha'}}];\nreturn out;" },
      "id": "082c11ce-9ebe-4d09-a427-4bc9092d736a", "name": "Prepara Lista",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [352, -320]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://fcm.googleapis.com/v1/projects/TROCAR_PROJETO_FIREBASE_DFNET/messages:send",
        "authentication": "predefinedCredentialType", "nodeCredentialType": "googleApi",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { token: $json.token, notification: { title: $('Formulário Aviso').first().json.titulo, body: $('Formulário Aviso').first().json.mensagem } } }) }}",
        "options": {}
      },
      "id": "13689b65-d6e9-456e-9976-539f03a1cba5", "name": "Envia Notificação (FCM)",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [640, -320],
      "credentials": { "googleApi": { "id": "TROCAR_CRED_FCM_DFNET", "name": "GOOGLE APP NOTIFICACOES DFNET" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "0 9,15 * * *" } ] } },
      "id": "2ef92b9a-4a3b-4743-8357-fda7ddd6aa7c", "name": "2x ao dia (9h e 15h)",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-320, -32]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": { "__rl": true, "value": "TROCAR_ID_PLANILHA_DFNET", "mode": "id" },
        "sheetName": { "__rl": true, "value": "tokens", "mode": "name" }, "options": {}
      },
      "id": "edeaa2cd-1e64-435c-b6a9-c1847b489533", "name": "Lê Clientes (tokens)",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [-96, -32],
      "credentials": { "googleApi": { "id": "TROCAR_CRED_GOOGLE_DFNET", "name": "PLANILHA GOOGLE DFNET" } }
    },
    {
      "parameters": { "jsCode": "\n// Normaliza CPF/CNPJ: remove não-dígitos e completa zeros à esquerda\nconst out=[];\nfor(const item of items){\n  const j={...item.json};\n  let doc=String(j.cpf||'').replace(/\\D/g,'');\n  if(doc.length>0 && doc.length<=11) doc=doc.padStart(11,'0');\n  else if(doc.length>11 && doc.length<14) doc=doc.padStart(14,'0');\n  j.cpf_norm=doc;\n  out.push({json:j});\n}\nreturn out;" },
      "id": "bab17218-fded-45f7-81a0-32b67e1c227f", "name": "Normaliza CPF",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [128, -32]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://dfnet.sgp.net.br/api/central/titulos/",
        "sendBody": true, "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          { "name": "token", "value": "TROCAR_TOKEN_SGP_DFNET" },
          { "name": "app", "value": "whatsApp" },
          { "name": "cpfcnpj", "value": "={{ $json.cpf_norm }}" },
          { "name": "status", "value": "1" },
          { "name": "limit", "value": "50" }
        ] }, "options": {}
      },
      "id": "ec0413e7-219a-43c8-adb1-b4380f3c0021", "name": "Títulos do Cliente",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [352, -32], "onError": "continueRegularOutput"
    },
    {
      "parameters": { "mode": "combine", "combineBy": "combineByPosition", "options": {} },
      "id": "d9c7af84-22f1-4fd1-ac1c-42fe1ee330d2", "name": "Junta cliente + faturas",
      "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [560, -32]
    },
    {
      "parameters": { "jsCode": "\nconst amanha=new Date(); amanha.setDate(amanha.getDate()+1);\nconst alvo=amanha.toISOString().slice(0,10);\nconst out=[];\nfor(const item of items){\n  const j=item.json; const token=j.token||''; const faturas=(j.faturas)||[];\n  if(!token||!Array.isArray(faturas)) continue;\n  const vence=faturas.find(f=>String(f.vencimento||f.vencimento_atualizado||'').slice(0,10)===alvo);\n  if(vence){\n    const valor=Number(vence.valorcorrigido||vence.valor||0).toFixed(2).replace('.',',');\n    out.push({json:{token, valor, venc:alvo}});\n  }\n}\nreturn out;" },
      "id": "8d50c670-d9c1-47ca-8fee-8f1a3a9a7b09", "name": "Quem vence amanhã",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [784, -32]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://fcm.googleapis.com/v1/projects/TROCAR_PROJETO_FIREBASE_DFNET/messages:send",
        "authentication": "predefinedCredentialType", "nodeCredentialType": "googleApi",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { token: $json.token, notification: { title: 'Sua fatura vence amanhã 💳', body: 'Fatura de R$ '+$json.valor+' vence amanhã. Toque para ver a 2ª via.' } } }) }}",
        "options": {}
      },
      "id": "a4c18858-7591-4700-9324-dbc946e4429a", "name": "Notifica Boleto",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1008, -32],
      "credentials": { "googleApi": { "id": "TROCAR_CRED_FCM_DFNET", "name": "GOOGLE APP NOTIFICACOES DFNET" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "5 9,15 * * *" } ] } },
      "id": "869dbc76-62fd-4560-b8d0-a4b2fe10392e", "name": "2x ao dia (9h05 e 15h05)",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [-416, 336]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://dfnet.sgp.net.br/api/ura/consultacliente/",
        "sendBody": true, "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          { "name": "token", "value": "TROCAR_TOKEN_SGP_DFNET" },
          { "name": "app", "value": "whatsApp" },
          { "name": "cpfcnpj", "value": "={{ $json.cpf_norm }}" }
        ] }, "options": {}
      },
      "id": "3f014af6-ddd2-4ff0-b6ef-2d9dc2f1abc1", "name": "Consulta Status",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [256, 336], "onError": "continueRegularOutput"
    },
    {
      "parameters": { "mode": "combine", "combineBy": "combineByPosition", "options": {} },
      "id": "aa3c7414-743c-4c35-8e06-2c05869c9908", "name": "Junta cliente + status",
      "type": "n8n-nodes-base.merge", "typeVersion": 3, "position": [464, 336]
    },
    {
      "parameters": { "jsCode": "\nconst out=[];\nfor(const item of items){\n  const j=item.json;\n  const token=j.token||''; const contrato=String(j.contrato||'');\n  const anterior=String(j.ultimo_status||'').trim().toLowerCase();\n  const contratos=(j.contratos)||[];\n  let atualRaw='';\n  if(Array.isArray(contratos)&&contratos.length){\n    const c=contratos.find(x=>String(x.contratoId)===contrato)||contratos[0];\n    atualRaw=c.contratoStatusDisplay||c.contratoStatus||'';\n  }\n  const atual=String(atualRaw).trim();\n  const atualLow=atual.toLowerCase();\n  const estaBloqueado=atualLow && atualLow!=='ativo';\n  const eraAtivo=anterior===''||anterior==='ativo';\n  const deveNotificar=estaBloqueado && eraAtivo && anterior!==atualLow;\n  out.push({json:{token, contrato, status_atual:atual, notificar:deveNotificar}});\n}\nreturn out;" },
      "id": "feb3ffe2-7367-4e67-99b3-410373789e83", "name": "Detecta Bloqueio",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [704, 336]
    },
    {
      "parameters": {
        "authentication": "serviceAccount", "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "TROCAR_ID_PLANILHA_DFNET", "mode": "id" },
        "sheetName": { "__rl": true, "value": "tokens", "mode": "name" },
        "columns": { "mappingMode": "defineBelow", "value": {
            "token": "={{ $json.token }}", "ultimo_status": "={{ $json.status_atual }}"
          }, "matchingColumns": ["token"],
          "schema": [
            { "id": "cpf", "displayName": "cpf", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "contrato", "displayName": "contrato", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "token", "displayName": "token", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "plataforma", "displayName": "plataforma", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "data", "displayName": "data", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "ultimo_status", "displayName": "ultimo_status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ], "attemptToConvertTypes": false, "convertFieldsToString": false }, "options": {}
      },
      "id": "f6005680-290e-4af0-82c2-124fb830fefe", "name": "Salva último status",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [912, 448],
      "credentials": { "googleApi": { "id": "TROCAR_CRED_GOOGLE_DFNET", "name": "PLANILHA GOOGLE DFNET" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1 },
          "conditions": [ { "id": "c1", "leftValue": "={{ $json.notificar }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } } ],
          "combinator": "and" }, "options": {}
      },
      "id": "4a88c99c-2f1f-4a5c-bb5f-e5d5ccc490c7", "name": "Só os bloqueados",
      "type": "n8n-nodes-base.filter", "typeVersion": 2, "position": [912, 224]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://fcm.googleapis.com/v1/projects/TROCAR_PROJETO_FIREBASE_DFNET/messages:send",
        "authentication": "predefinedCredentialType", "nodeCredentialType": "googleApi",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { token: $json.token, notification: { title: 'Conexão suspensa ⚠️', body: 'Sua conexão foi suspensa por falta de pagamento. Toque para ver sua fatura e regularizar.' } } }) }}",
        "options": {}
      },
      "id": "7fb37db1-7174-4640-9a8a-57da46187c77", "name": "Notifica Bloqueio",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1136, 224],
      "credentials": { "googleApi": { "id": "TROCAR_CRED_FCM_DFNET", "name": "GOOGLE APP NOTIFICACOES DFNET" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": { "__rl": true, "value": "TROCAR_ID_PLANILHA_DFNET", "mode": "id" },
        "sheetName": { "__rl": true, "value": "tokens", "mode": "name" }, "options": {}
      },
      "id": "a223e7f6-6000-4356-b601-f7c0a66e1efa", "name": "Lê Clientes (tokens)1",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [-192, 336],
      "credentials": { "googleApi": { "id": "TROCAR_CRED_GOOGLE_DFNET", "name": "PLANILHA GOOGLE DFNET" } }
    },
    {
      "parameters": { "jsCode": "\nconst out=[];\nfor(const item of items){\n  const j={...item.json};\n  let doc=String(j.cpf||'').replace(/\\D/g,'');\n  if(doc.length>0 && doc.length<=11) doc=doc.padStart(11,'0');\n  else if(doc.length>11 && doc.length<14) doc=doc.padStart(14,'0');\n  j.cpf_norm=doc;\n  out.push({json:j});\n}\nreturn out;" },
      "id": "7a64fcac-28d5-4791-9184-73c8319ffd78", "name": "Normaliza CPF1",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [32, 336]
    }
  ],
  "connections": {
    "Formulário Aviso": { "main": [[{ "node": "Lê Tokens", "type": "main", "index": 0 }]] },
    "Lê Tokens": { "main": [[{ "node": "Prepara Lista", "type": "main", "index": 0 }]] },
    "Prepara Lista": { "main": [[{ "node": "Envia Notificação (FCM)", "type": "main", "index": 0 }]] },
    "2x ao dia (9h e 15h)": { "main": [[{ "node": "Lê Clientes (tokens)", "type": "main", "index": 0 }]] },
    "Lê Clientes (tokens)": { "main": [[{ "node": "Normaliza CPF", "type": "main", "index": 0 }]] },
    "Normaliza CPF": { "main": [[{ "node": "Títulos do Cliente", "type": "main", "index": 0 }, { "node": "Junta cliente + faturas", "type": "main", "index": 0 }]] },
    "Títulos do Cliente": { "main": [[{ "node": "Junta cliente + faturas", "type": "main", "index": 1 }]] },
    "Junta cliente + faturas": { "main": [[{ "node": "Quem vence amanhã", "type": "main", "index": 0 }]] },
    "Quem vence amanhã": { "main": [[{ "node": "Notifica Boleto", "type": "main", "index": 0 }]] },
    "2x ao dia (9h05 e 15h05)": { "main": [[{ "node": "Lê Clientes (tokens)1", "type": "main", "index": 0 }]] },
    "Consulta Status": { "main": [[{ "node": "Junta cliente + status", "type": "main", "index": 1 }]] },
    "Junta cliente + status": { "main": [[{ "node": "Detecta Bloqueio", "type": "main", "index": 0 }]] },
    "Detecta Bloqueio": { "main": [[{ "node": "Salva último status", "type": "main", "index": 0 }, { "node": "Só os bloqueados", "type": "main", "index": 0 }]] },
    "Só os bloqueados": { "main": [[{ "node": "Notifica Bloqueio", "type": "main", "index": 0 }]] },
    "Lê Clientes (tokens)1": { "main": [[{ "node": "Normaliza CPF1", "type": "main", "index": 0 }]] },
    "Normaliza CPF1": { "main": [[{ "node": "Consulta Status", "type": "main", "index": 0 }, { "node": "Junta cliente + status", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
