n8n/dfnet-webhooks-app.json
{
  "name": "DFNET - Webhooks do App (app-*)",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "app-login", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "093f4f6f-56fb-4df2-b6e7-396f87815970", "name": "Webhook app-login",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [96, -368], "webhookId": "wh-login-0001"
    },
    {
      "parameters": {
        "method": "POST", "url": "https://dfnet.sgp.net.br/api/ura/consultacliente/",
        "sendBody": true, "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          { "name": "token", "value": "TROCAR_TOKEN_SGP_DFNET" },
          { "name": "app", "value": "whatsApp" },
          { "name": "cpfcnpj", "value": "={{ ($json.body.cpf || '').replace(/\\D/g,'') }}" },
          { "name": "assinatura_eletronica", "value": "1" }
        ] }, "options": {}
      },
      "id": "c1bf5e9f-a795-4992-8a21-4e12c1dd0793", "name": "SGP Consulta Cliente",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [368, -368]
    },
    {
      "parameters": { "jsCode": "const d = $json;\nconst root = Array.isArray(d) ? d[0] : d;\nconst contratos = (root && root.contratos) || [];\nif (!contratos.length) return [{ json: { ok: false, motivo: 'nao_encontrado' } }];\n\nconst senhaDigitada = String($('Webhook app-login').first().json.body.senha || '').trim();\nconst senhaReal = String(contratos[0].contratoCentralSenha || '').trim();\n\nif (!senhaDigitada || senhaDigitada !== senhaReal) {\n  return [{ json: { ok: false, motivo: 'senha_incorreta' } }];\n}\n\nconst title = s => (s || '').toLowerCase().split(' ')\n  .map(p => p.charAt(0).toUpperCase() + p.slice(1)).join(' ');\n\nconst lista = contratos.map(c => {\n  const titulos = c.contratoTitulosAReceber || 0;\n  const aberto = c.contratoValorAberto;\n\n  const ass = Array.isArray(c.assinaturaEletronica) ? c.assinaturaEletronica[0] : (c.assinaturaEletronica || null);\n  let termoUrl = '', termoPdf = '', termoAssinado = false, termoStatus = '';\n  if (ass) {\n    termoUrl = (ass.cliente && ass.cliente.url_assinatura) || '';\n    termoPdf = (ass.documento && ass.documento.url_original) || '';\n    termoStatus = ass.status_atual || '';\n    const dataAss = (ass.cliente && ass.cliente.data_assinatura) || '';\n    termoAssinado = !!dataAss || /assinad|conclu|finaliz/i.test(termoStatus);\n  }\n\n  return {\n    contratoId: c.contratoId || null,\n    clienteId: c.clienteId || null,\n    plano: c.servico_plano || c.planointernet || 'Internet',\n    status: c.contratoStatusDisplay || 'Ativo',\n    vencimento: c.cobVencimento || null,\n    titulos: titulos,\n    valorAberto: (aberto != null) ? Number(aberto).toFixed(2).replace('.', ',') : null,\n    pendencia: titulos > 0,\n    cidade: c.endereco_cidade || '',\n    termoUrl, termoPdf, termoAssinado, termoStatus\n  };\n});\n\nreturn [{ json: {\n  ok: true,\n  nome: title(contratos[0].razaoSocial || 'Cliente'),\n  contratos: lista\n}}];" },
      "id": "98ee8e79-1888-46b5-a654-f7d75be9af59", "name": "Normaliza Login",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [624, -368]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}", "options": { "responseHeaders": { "entries": [ { "name": "Access-Control-Allow-Origin", "value": "*" } ] } } },
      "id": "ea7ace4b-7e92-459d-a6f8-6f71100de339", "name": "Responde app-login",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [880, -368]
    },
    {
      "parameters": { "httpMethod": "POST", "path": "app-boletos", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "1f498d4b-140d-48b0-bf23-921e0c64239d", "name": "Webhook app-boletos",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [96, -160], "webhookId": "wh-bol-0002"
    },
    {
      "parameters": {
        "method": "POST", "url": "https://dfnet.sgp.net.br/api/ura/titulos/",
        "sendBody": true, "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          { "name": "token", "value": "TROCAR_TOKEN_SGP_DFNET" },
          { "name": "app", "value": "whatsApp" },
          { "name": "cpfcnpj", "value": "={{ ($json.body.cpf || '').replace(/\\D/g,'') }}" },
          { "name": "status", "value": "abertos" },
          { "name": "ordenar", "value": "data_vencimento" },
          { "name": "ordenar_ordem", "value": "asc" }
        ] }, "options": {}
      },
      "id": "c99062f9-c447-463c-bad5-b88934e07501", "name": "SGP Titulos",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [368, -160]
    },
    {
      "parameters": { "jsCode": "\nconst d = $json;\nconst titulos = d.titulos || d.titulosAbertos || [];\nconst boletos = titulos.map(t => ({\n  mes: t.competencia || t.dataVencimento || t.data_vencimento || '\\u2014',\n  valor: t.valor || '0,00',\n  venc: t.dataVencimento || t.data_vencimento || '\\u2014',\n  status: 'aberto',\n  linha: t.linhaDigitavel || t.codigoBarras || t.codigo_barras || '',\n  link: t.link || t.link_cobranca || ''\n}));\nreturn [{ json: { boletos } }];" },
      "id": "52e829a1-cb3f-458f-bbfa-e7f489af3eff", "name": "Normaliza Boletos",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [624, -160]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}", "options": { "responseHeaders": { "entries": [ { "name": "Access-Control-Allow-Origin", "value": "*" } ] } } },
      "id": "9cb60817-4689-45a4-850a-5c3161a74798", "name": "Responde app-boletos",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [880, -160]
    },
    {
      "parameters": { "httpMethod": "POST", "path": "app-os", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "1cd3be75-4713-46bc-97ed-b41e5414a24c", "name": "Webhook app-os",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [96, 32], "webhookId": "wh-os-0003"
    },
    {
      "parameters": {
        "method": "POST", "url": "https://dfnet.sgp.net.br/api/os/list/",
        "sendBody": true, "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          { "name": "token", "value": "TROCAR_TOKEN_SGP_DFNET" },
          { "name": "app", "value": "whatsApp" },
          { "name": "contrato_id", "value": "={{ $json.body.contrato_id }}" },
          { "name": "cliente_id", "value": "={{ $json.body.cliente_id }}" }
        ] }, "options": {}
      },
      "id": "e37ed417-be84-4b4a-b89c-fa0d5fad049c", "name": "SGP OS List",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [368, 32]
    },
    {
      "parameters": { "jsCode": "\nconst d = $json;\nconst arr = Array.isArray(d) ? d : (d.ordens || d.os || d.results || []);\nconst os = arr.map(o => ({\n  id: o.id || o.os || '',\n  tipo: o.tipo || o.assunto || o.servico || 'Ordem de Servico',\n  data: o.data_cadastro || o.dataCadastro || o.data || '\\u2014',\n  status: o.status || o.statusDisplay || o.situacao || '\\u2014',\n  tec: o.tecnico || o.responsavel || '\\u2014',\n  hora: o.agendamento || o.data_agendamento || '\\u2014',\n  desc: o.descricao || o.obs || o.observacao || ''\n}));\nreturn [{ json: { os } }];" },
      "id": "17e7ebcf-355f-4abe-a95b-c523d904ed1a", "name": "Normaliza OS",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [624, 32]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}", "options": { "responseHeaders": { "entries": [ { "name": "Access-Control-Allow-Origin", "value": "*" } ] } } },
      "id": "f5528158-ea0a-442c-b318-f477e3110ef4", "name": "Responde app-os",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [880, 32]
    },
    {
      "parameters": { "httpMethod": "POST", "path": "app-desbloqueio", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "3899fbef-1642-49f1-b7df-602f2a8a42f5", "name": "Webhook app-desbloqueio",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [96, 240], "webhookId": "wh-des-0004"
    },
    {
      "parameters": {
        "method": "POST", "url": "https://dfnet.sgp.net.br/api/ura/liberacaopromessa/",
        "sendBody": true, "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          { "name": "token", "value": "TROCAR_TOKEN_SGP_DFNET" },
          { "name": "app", "value": "whatsApp" },
          { "name": "contrato", "value": "={{ $json.body.contrato }}" }
        ] }, "options": {}
      },
      "id": "031abc6a-5dae-409f-ba54-3a680b9d4e7b", "name": "SGP Liberacao Promessa",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [368, 240]
    },
    {
      "parameters": { "jsCode": "\nconst d = $json;\nconst ok = d.liberado === true || d.status === 1 || d.sucesso === true;\nreturn [{ json: {\n  ok,\n  mensagem: d.msg || d.mensagem || (ok ? 'Conexao liberada por confianca.' : 'Nao foi possivel liberar.'),\n  liberado_dias: d.liberado_dias || d.dias || 2,\n  data_promessa: d.data_promessa || ''\n} }];" },
      "id": "a2184f0b-c5d5-41ef-99e4-42494144a056", "name": "Normaliza Desbloqueio",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [624, 240]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}", "options": { "responseHeaders": { "entries": [ { "name": "Access-Control-Allow-Origin", "value": "*" } ] } } },
      "id": "4a1b7679-884b-4c7e-b24b-fbe39b386dc2", "name": "Responde app-desbloqueio",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [880, 240]
    },
    {
      "parameters": { "httpMethod": "POST", "path": "app-contrato-aceite", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "2a10c3e9-fe61-42e9-a137-fe376c5e2a44", "name": "Webhook app-contrato-aceite",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [96, 432], "webhookId": "wh-ctr-0005"
    },
    {
      "parameters": {
        "method": "POST", "url": "https://dfnet.sgp.net.br/api/contrato/termoaceite/{{ $json.body.idcontrato }}",
        "sendBody": true, "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          { "name": "token", "value": "TROCAR_TOKEN_SGP_DFNET" },
          { "name": "app", "value": "whatsApp" },
          { "name": "aceite", "value": "1" }
        ] }, "options": {}
      },
      "id": "ba908886-349d-4e8e-ade8-6cd4f165d5ad", "name": "SGP Termo Aceite",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [368, 432]
    },
    {
      "parameters": { "jsCode": "\nconst d = $json;\nreturn [{ json: {\n  ok: true,\n  protocolo: d.protocolo || d.id || ('SGP-' + Date.now().toString().slice(-6)),\n  retorno: d\n} }];" },
      "id": "4f4bc274-c68a-4282-b8e7-a32c1d8054f7", "name": "Normaliza Aceite",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [624, 432]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}", "options": { "responseHeaders": { "entries": [ { "name": "Access-Control-Allow-Origin", "value": "*" } ] } } },
      "id": "0b69c588-df64-4ed1-8f33-e05c7636e7b8", "name": "Responde app-contrato-aceite",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [880, 432]
    },
    {
      "parameters": { "httpMethod": "POST", "path": "app-promocoes", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "2635127b-ffb9-4a54-9162-69ff4a0bcf65", "name": "Webhook app-promocoes",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [112, 688], "webhookId": "wh-promo-0006"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": { "__rl": true, "value": "TROCAR_ID_PLANILHA_DFNET", "mode": "id" },
        "sheetName": { "__rl": true, "value": "promocoes", "mode": "name" },
        "options": {}
      },
      "id": "453eb64a-1973-4f88-94d5-af684a565000", "name": "Lê Planilha Promoções",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [352, 688],
      "credentials": { "googleApi": { "id": "TROCAR_CRED_GOOGLE_DFNET", "name": "PLANILHA GOOGLE DFNET" } }
    },
    {
      "parameters": { "jsCode": "const norm = s => (s==null?'':s).toString().trim().toLowerCase();\nconst ativos = ['sim','true','1','x','ativo','verdadeiro'];\nconst rows = $input.all().map(i => i.json);\nconst promocoes = rows\n  .filter(r => ativos.includes(norm(r.ativo)))\n  .sort((a,b) => (Number(a.ordem)||999) - (Number(b.ordem)||999))\n  .map(r => ({\n    titulo: (r.titulo||'').toString(),\n    texto: (r.texto||'').toString(),\n    cor: (r.cor||'#1b1918').toString(),\n    imagem: (r.imagem||'').toString(),\n    link: (r.link||'').toString(),\n    botao: (r.botao||'Saiba mais').toString()\n  }));\nreturn [{ json: { promocoes } }];" },
      "id": "c69b92a9-30ba-4024-bd0f-d05478af59a2", "name": "Filtra Promoções Ativas",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [592, 688]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}", "options": { "responseHeaders": { "entries": [ { "name": "Access-Control-Allow-Origin", "value": "*" } ] } } },
      "id": "884dc7a0-22dc-4064-ae91-f014d6febca2", "name": "Responde app-promocoes",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [832, 688]
    },
    {
      "parameters": { "httpMethod": "POST", "path": "app-token", "responseMode": "responseNode", "options": { "allowedOrigins": "*" } },
      "id": "a758efac-6054-4c44-9d42-91122d4e6279", "name": "Webhook app-token",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [208, 928], "webhookId": "wh-token-0001"
    },
    {
      "parameters": {
        "authentication": "serviceAccount", "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "TROCAR_ID_PLANILHA_DFNET", "mode": "id" },
        "sheetName": { "__rl": true, "value": "tokens", "mode": "name" },
        "columns": { "mappingMode": "defineBelow", "value": {
            "cpf": "={{ $json.body.cpf }}", "contrato": "={{ $json.body.contrato }}",
            "token": "={{ $json.body.token }}", "plataforma": "={{ $json.body.plataforma }}", "data": "={{ $now }}"
          }, "matchingColumns": ["token"],
          "schema": [
            { "id": "cpf", "displayName": "cpf", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "contrato", "displayName": "contrato", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "token", "displayName": "token", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "plataforma", "displayName": "plataforma", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "data", "displayName": "data", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ], "attemptToConvertTypes": false, "convertFieldsToString": false }, "options": {}
      },
      "id": "b3d3181e-4e7c-40d9-bafa-eee1d18fa2b9", "name": "Salva Token",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [480, 928],
      "credentials": { "googleApi": { "id": "TROCAR_CRED_GOOGLE_DFNET", "name": "PLANILHA GOOGLE DFNET" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ {\"ok\":true} }}", "options": { "responseHeaders": { "entries": [ { "name": "Access-Control-Allow-Origin", "value": "*" } ] } } },
      "id": "f13bec2f-fa8a-451d-b190-33f4eb4ee016", "name": "Responde app-token",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [736, 928]
    }
  ],
  "connections": {
    "Webhook app-login": { "main": [[{ "node": "SGP Consulta Cliente", "type": "main", "index": 0 }]] },
    "SGP Consulta Cliente": { "main": [[{ "node": "Normaliza Login", "type": "main", "index": 0 }]] },
    "Normaliza Login": { "main": [[{ "node": "Responde app-login", "type": "main", "index": 0 }]] },
    "Webhook app-boletos": { "main": [[{ "node": "SGP Titulos", "type": "main", "index": 0 }]] },
    "SGP Titulos": { "main": [[{ "node": "Normaliza Boletos", "type": "main", "index": 0 }]] },
    "Normaliza Boletos": { "main": [[{ "node": "Responde app-boletos", "type": "main", "index": 0 }]] },
    "Webhook app-os": { "main": [[{ "node": "SGP OS List", "type": "main", "index": 0 }]] },
    "SGP OS List": { "main": [[{ "node": "Normaliza OS", "type": "main", "index": 0 }]] },
    "Normaliza OS": { "main": [[{ "node": "Responde app-os", "type": "main", "index": 0 }]] },
    "Webhook app-desbloqueio": { "main": [[{ "node": "SGP Liberacao Promessa", "type": "main", "index": 0 }]] },
    "SGP Liberacao Promessa": { "main": [[{ "node": "Normaliza Desbloqueio", "type": "main", "index": 0 }]] },
    "Normaliza Desbloqueio": { "main": [[{ "node": "Responde app-desbloqueio", "type": "main", "index": 0 }]] },
    "Webhook app-contrato-aceite": { "main": [[{ "node": "SGP Termo Aceite", "type": "main", "index": 0 }]] },
    "SGP Termo Aceite": { "main": [[{ "node": "Normaliza Aceite", "type": "main", "index": 0 }]] },
    "Normaliza Aceite": { "main": [[{ "node": "Responde app-contrato-aceite", "type": "main", "index": 0 }]] },
    "Webhook app-promocoes": { "main": [[{ "node": "Lê Planilha Promoções", "type": "main", "index": 0 }]] },
    "Lê Planilha Promoções": { "main": [[{ "node": "Filtra Promoções Ativas", "type": "main", "index": 0 }]] },
    "Filtra Promoções Ativas": { "main": [[{ "node": "Responde app-promocoes", "type": "main", "index": 0 }]] },
    "Webhook app-token": { "main": [[{ "node": "Salva Token", "type": "main", "index": 0 }]] },
    "Salva Token": { "main": [[{ "node": "Responde app-token", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
